<footer class="d-flex space-between">
    <div>
        <img src="/logo/logo-sm.png">
        <span>©Disney ©Disney/Pixar ©MARVEL © & ™ Lucasfilm Ltd. ©2021 20CS</span>
    </div>
    <ul class="d-flex ul-none">
        <li><a href="http://www.disney.co.kr/home/company.jsp" target="_blank">회사 소개</a></li>
        <li><a href="http://www.disney.co.kr/home/recruit.jsp" target="_blank">채용</a></li>
        <li><a href="https://disneytermsofuse.com/korean/" target="_blank">이용약관</a></li>
        <li><a href="https://privacy.thewaltdisneycompany.com/ko/current-privacy-policy-ko-kr/" target="_blank">개인정보 처리방침</a></li>
    </ul>
</footer>