<header class="d-flex space-between">
    <div>
        <img src="/logo/logo.png" onclick="location.href='/'">
    </div>
    <nav>
        <ul class="nav-menu d-flex">
            <li class="s-screen">
                <span>DISNEY</span>
                <ul class="sub-menu p-absolute d-none">
                    <li><a href="https://www.instagram.com/disneykorea/" target="_blank">인스타그램</a></li>
                    <li><a href="https://www.facebook.com/DisneyKorea" target="_blank">페이스북</a></li>
                    <li><a href="https://www.youtube.com/channel/UCbv7Dcn5iNrAyd3GwgVHkIQ" target="_blank">유튜브</a></li>
                </ul>
            </li>
            <li class="s-screen">
                <span>MARVEL</span>
                <ul class="sub-menu p-absolute d-none">
                    <li><a href="https://www.instagram.com/marvelkorea/" target="_blank">인스타그램</a></li>
                    <li><a href="https://www.facebook.com/marvel.kr" target="_blank">페이스북</a></li>
                    <li><a href="https://www.youtube.com/MarvelKorea" target="_blank">유튜브</a></li>
                    <li><a href="https://m.post.naver.com/my.nhn?memberNo=15200157" target="_blank">블로그</a></li>
                </ul>
            </li>
            <li class="s-screen">
                <span>STAR WARS</span>
                <ul class="sub-menu p-absolute d-none">
                    <li><a href="https://www.instagram.com/starwarskorea/" target="_blank">인스타그램</a></li>
                    <li><a href="https://www.facebook.com/StarWars.kr/" target="_blank">페이스북</a></li>
                    <li><a href="https://www.youtube.com/channel/UCGf-sXt1hwYeqLh9Y6m5obQ" target="_blank">유튜브</a></li>
                </ul>
            </li>
            <li class="s-screen">
                <span>NATIONAL GEOGRAPHIC</span>
                <ul class="sub-menu p-absolute d-none">
                    <li><a href="https://www.natgeokorea.com/" target="_blank">브랜드 사이트</a></li>
                    <li><a href="https://www.youtube.com/user/natgeokorea" target="_blank">유튜브</a></li>
                    <li><a href="https://www.instagram.com/natgeokorea" target="_blank">인스타그램</a></li>
                    <li><a href="https://www.facebook.com/NatGeoKorea" target="_blank">페이스북</a></li>
                </ul>
            </li>
            <li class="s-screen" style="margin-right: 30px;">
                <span>20th CENTURY STUDIOS</span>
                <ul class="sub-menu p-absolute d-none">
                    <li><a href="https://www.instagram.com/20thcenturystudioskr/" target="_blank">인스타그램</a></li>
                    <li><a href="https://www.facebook.com/20thCenturyStudios.KR" target="_blank">페이스북</a></li>
                    <li><a href="https://www.youtube.com/20thCenturyStudiosKorea" target="_blank">유튜브</a></li>
                    <li><a href="https://twitter.com/20thcenturyKR" target="_blank">트위터</a></li>
                    <li><a href="https://post.naver.com/my.nhn?memberNo=16173321" target="_blank">블로그</a></li>
                </ul>
            </li>
            <li class="disney_btn s-screen">
                <a href="https://www.preview.disneyplus.com/ko-kr" target="_blank">디즈니+</a>
                <i class="bi bi-chevron-right"></i>
            </li>
            <i class="bi bi-list"></i>
        </ul>
    </nav>
</header>