.d-none {
    display: none;
}

.d-flex {
    display: flex;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}