.d-none {
    display: none;
}

.d-flex {
    display: flex;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.center {
    justify-content: center;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.ul-none  {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}