.containers > div {
    height: 505px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
}

.first-container {
    background-image: url("/bg/bg-dp.jpeg");
}

.second-container {
    background-image: url("/bg/bg-d.jpeg");
}

.third-container {
    background-image: url("/bg/bg-m.jpeg");
}

.forth-container {
    background-image: url("/bg/bg-s.jpeg");
}

.fifth-container {
    background-image: url("/bg/bg-ng.jpeg");
}

.sixth-container {
    background-image: url("/bg/bg-20.jpeg");
}

.containers > div ul {
    list-style: none;
    padding-left: 0;
    margin-top: 40px;
}

.containers > div ul a {
    margin: 0 10px;
}

.containers > div ul li:nth-child(odd) a:hover {
    opacity: 0.3;
}