body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "NotoSansKR", sans-serif;
}

/* 1120px보다 클 때 */
@media screen and (min-width: 1120px) {
    .bi-list {
        display: none;
    }
}

/* 800px보다 클 때 */
@media screen and (min-width: 800px) {
    header {
        justify-content: space-between;
    }
}

/* 800px보다 작을 때 */
@media screen and (max-width: 800px) {
    .bi-list { 
        display: none;
    }

    header {
        justify-content: center;
    }

    .xs-screen {
        display: none;
    }
}

/* 1120px보다 작을 때 */
@media screen and (max-width: 1120px) {
    .s-screen {
        display: none;
    }

    .containers img {
        width: 200px;
    }

    .first-container img {
        width: 400px;
    }
}