.slide-menu {
    width: 100%;
    font-size: 15px;
    white-space: nowrap;
    cursor: pointer;
    padding-left: 0;
}

.slide-menu li {
    margin: 0 20px;
}

.slide-menu span {
    text-decoration: underline;
    text-underline-position: under;
    font-weight: 400;
}

.slide-menu > ul {
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    align-items: baseline;
    text-align: center;
    margin: 0;
    padding: 10px 0 0 0;
}

.sub {
    padding: 20px 0 0 0;
    list-style: none;
}

.sub li {
    margin-bottom: 20px;
}

.sub a:hover {
    opacity: 0.3;
}